@model IEnumerable<Sky.Models.Order>
@using System.Globalization

@{
    ViewData["Title"] = "Đơn hàng của bạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
    CultureInfo culture = CultureInfo.CreateSpecificCulture("vi-VI");
}

<h1 class="text-center mt-5 mb-4">
    <i class="fas fa-shopping-bag fa-lg mr-2"></i>
    Đơn hàng của bạn
</h1>

<div class="card shadow mb-3">
    <div class="card-body d-flex py-2">
        <div class="flex-grow-1 d-inline-flex form-inline">
            <div class="form-group m-2">
                <label>Lọc theo</label>
            </div>
            <input hidden value="@ViewData["Status"]" />
            <div class="form-group m-2">
                <div class="dropdown">
                    <a class="btn border" role="button" id="dropSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lọc theo
                        <i class="fas fa-sort ml-1"></i>
                    </a>

                    <div class="dropdown-menu dropdown-sort m-0" aria-labelledby="dropSort">
                        <a class="dropdown-item" asp-action="Index"
                           asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-status="dang-cho">Đang chờ xác nhận</a>
                        <a class="dropdown-item" asp-action="Index"
                           asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-status="da-xac-nhan">Đã xác nhận</a>
                        <a class="dropdown-item" asp-action="Index"
                           asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-status="dang-giao">Đang giao</a>
                        <a class="dropdown-item" asp-action="Index"
                           asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-status="da-giao">Đã giao</a>
                        <a class="dropdown-item" asp-action="Index"
                           asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-status="da-huy">Đã hủy</a>
                    </div>
                </div>
            </div>
            <div class="form-group m-2">
                <a class="btn btn-sm btn-success" asp-action="Index">Xem tất cả</a>
            </div>
        </div>
        <div class="p-0">
            <form asp-action="Index" method="get" class="form-inline ">
                <div class="form-group m-2">
                    <label class="input-group-prepend">Tìm kiếm </label>
                </div>
                <div class="form-group m-2">
                    <div class="input-group">
                        <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" />
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<table class="table table-hover" id="dataTable">
    <thead>
        <tr class="text-center">
            <th>STT</th>
            <th>
                Mã đơn hàng
            </th>
            <th>

            </th>
            <th>
                Tình trạng
            </th>
            <th>
                Ngày đặt hàng
            </th>
            <th>
                Tổng tiền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="text-center">
                <td class="align-middle">
                    @(i + 1)
                </td>
                <td class="align-middle">
                    <small>@Html.DisplayFor(modelItem => item.OrderTextId)</small>
                </td>
                <td class="align-middle">
                    <img src="@("~/image/" + ViewBag.ListImg[i])" asp-append-version="true" style="width:80px;height:100px" class="rounded" />
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td class="align-middle">
                    @((item.OrderDate).ToString("dd/MM/yyyy HH:mm"))
                </td>
                <td class="align-middle">
                    <strong>@((item.OrderPrice).ToString("#,##0", culture))</strong>
                </td>
                <td class="align-middle">
                    @if (item.OrderLock == false)
                    {
                        <a onclick="showInPopup('@Url.Action("EditforUser", "Order", new { id = item.OrderId }, Context.Request.Scheme)', 'Edit Order')"
                            class="btn btn-sm btn-danger text-white">Sửa</a>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-danger text-white disabled">Sửa</a>
                    }

                    <a onclick="showInPopup('@Url.Action("Details", "Order", new { id = item.OrderId }, Context.Request.Scheme)', 'Detail Order')"
                        class="btn btn-sm btn-success text-white">Xem</a>
                    <a onclick="showInPopup('@Url.Action("ChiTiet", "OrderDetail", new { id = item.OrderId }, Context.Request.Scheme)', 'ChiTiet Order')"
                        class="btn btn-sm btn-primary text-white">Chi Tiết</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>




<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


<p class="h4 my-5 text-center">
    @ViewData["Mess"]
</p>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "lengthMenu": "Hiển thị _MENU_ kết quả mỗi trang",
                    "zeroRecords": "Không tìm thấy",
                    "info": "Hiển thị (_START_ - _END_) trong _TOTAL_ kết quả",
                    "infoEmpty": "Không có kết quả tìm kiếm",
                    "infoFiltered": "(Lọc _MAX_ trong tất cả kết quả)",
                    "search": "Tìm kiếm nhanh: ",
                    "paginate": {
                        "previous": "Trang trước",
                        "next": "Trang kế"
                    }
                }
            });
        });

    </script>
}


@*@foreach (var item in Model)
    {
        <div class="card p-2 shadow" id="@("cartorder" + i)">
            <div class="row d-flex col-12">
                <div class="flex-grow-1">
                    <span>@(i+1)</span><br />
                    <span><strong>#@item.OrderTextId</strong></span><br />
                    <span class="small">@item.OrderDate</span>
                </div>
                <div class="d-flex align-items-end">
                    <div class="mt-auto">
                        <span class="my-2">Tổng tiền: <strong>@item.OrderPrice</strong></span>
                        <button type="button" class="btn btn-sm" data-toggle="collapse" data-target="#@("order" + i)"
                                onclick="showOrder('@Url.Action("ChiTiet", "OrderDetail", new { id = item.OrderId}, Context.Request.Scheme)', @i)">
                            <i class="fas fa-sort-down"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body" id="@("order" + i)">

            </div>
        </div>
    }*@