
@using System.Globalization


@{
    ViewData["Title"] = "Thống kê doanh thu";
    Layout = "~/Areas/Identity/Pages/Admin/_AdminLayout.cshtml";
    CultureInfo culture = CultureInfo.CreateSpecificCulture("vi-VI");
}



<div class="col-xl-8 col-lg-9">
    <div class="card shadow my-3">
        <div class="card-body d-flex py-2">
            <div class="flex-grow-1 h4 form-inline m-0">
                Doanh thu năm <strong class="ml-2">@ViewData["Year"]</strong>
            </div>
            <div class="d-flex">
                <form method="get" class="form-inline" asp-action="Index">
                    <div class="form-group m-2">
                        <label class="input-group-prepend">Nhập năm</label>
                    </div>
                    <div class="form-group m-2">
                        <div class="input-group">
                            <input type="text" class="form-control" name="year" value="@ViewData["Year"]">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thống kê doanh thu</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="myBarChart"></canvas>
            </div>
            <hr>
            <h6 class="text-center">Doanh thu năm @ViewData["Year"] : <strong>@((ViewBag.sum).ToString("#,##0", culture)) Đ</strong></h6>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        var arr_data = [];
        arr_data[0] = @ViewBag.Revenue[0];
        arr_data[1] = @ViewBag.Revenue[1];
        arr_data[2] = @ViewBag.Revenue[2];
        arr_data[3] = @ViewBag.Revenue[3];
        arr_data[4] = @ViewBag.Revenue[4];
        arr_data[5] = @ViewBag.Revenue[5];
        arr_data[6] = @ViewBag.Revenue[6];
        arr_data[7] = @ViewBag.Revenue[7];
        arr_data[8] = @ViewBag.Revenue[8];
        arr_data[9] = @ViewBag.Revenue[9];
        arr_data[10] = @ViewBag.Revenue[10];
        arr_data[11] = @ViewBag.Revenue[11];

        var max_val = Math.max(...arr_data);

        if (max_val > 1000000) {
            max_val = (max_val / 1000000).toFixed(0) * 1000000;
        }
        else if (max_val < 1000000) {
            max_val = (max_val / 1000).toFixed(0) * 1000;
        }

        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        function number_format(number, decimals, dec_point, thousands_sep) {
            // *     example: number_format(1234.56, 2, ',', ' ');
            // *     return: '1 234,56'
            number = (number + '').replace(',', '').replace(' ', '');
            var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
            // Fix for IE parseFloat(0.55).toFixed(0) = 0;
            s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || '';
                s[1] += new Array(prec - s[1].length + 1).join('0');
            }
            return s.join(dec);
        }

        //var arr_data1 = [4215, 5312, 6251, 7841, 9821, 14984, 1545, 12112, 1235, 7852, 5234, 8215];


        // Bar Chart Example
        var ctx = document.getElementById("myBarChart");
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
                datasets: [{
                    label: "Doanh thu",
                    backgroundColor: "#4e73df",
                    hoverBackgroundColor: "#2e5bdf",
                    borderColor: "#4e73df",
                    data: arr_data,
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'Tháng'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 12
                        },
                        maxBarThickness: 25,
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: max_val,
                            maxTicksLimit: 6,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return 'đ' + number_format(value);
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ': ' + number_format(tooltipItem.yLabel) + ' đ';
                        }
                    }
                },
            }
        });

    </script>
}