@model Sky.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PreviousPrice)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PreviousPrice)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ProductDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ProductDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ProductStatus)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ProductStatus)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Type.TypeName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>
