@page "/login/"
@model LoginModel

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Areas/Identity/Pages/_LoginLayout.cshtml";
}

@*<h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@


<!--Cách 2-->
@*<div class="col-md-10 offset-1">
        <div class="login-form-icon text-center m-5">
            <i class="fas fa-user-circle fa-6x text-secondary"></i>
        </div>
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-envelope"></i>
                        </div>
                    </div>
                    <input asp-for="Input.Email" class="form-control" placeholder="Email Address" />
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-lock"></i>
                        </div>
                    </div>
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class=" float-right">
                        <a href="/Identity/Account/ForgotPassword">Quên mật khẩu?</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    <i class="fas fa-sign-in-alt"></i> Log in
                </button>
            </div>
        </form>
    </div>*@
@if (Model.Status != "")
{
    <div class="alert alert-danger alert-dismissible m-0" role="alert">
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h6><strong>@Model.Status / '@Model.ReturnUrl'</strong></h6>
    </div>
}


<!--Cách 3-->
<div class="row">
    <div class="col-lg-6 d-none d-lg-block">
        <img src="~/logo/cat-login.jpg" style="height:610px" />
    </div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h2 text-gray-900 mb-4">Đăng nhập</h1>
            </div>
            <div class="text-center">
                <i class="fas fa-user-circle fa-4x"></i>
            </div>
            <form class="user" id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control form-control-user" placeholder="Email Address" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control form-control-user" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            Nhớ tài khoản của bạn
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-user btn-block"><h5 class="m-0">Đăng nhập</h5></button>


                @*@if ((Model.ExternalLogins?.Count ?? 0) != 0)
                    {
                       <hr>
                        <form id="external-account" asp-page="./ExternalLogin"
                              asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                string classiconprovider = "";
                                string classprovider = "";
                                if (provider.DisplayName == "Google")
                                {
                                    classprovider = "btn-google";
                                    classiconprovider = "fab fa-google fa-fw";
                                }
                                else if (provider.DisplayName == "Facebook")
                                {
                                    classprovider = "btn-facebook";
                                    classiconprovider = "fab fa-facebook-f fa-fw";
                                }


                                <button type="submit" class="btn @classprovider btn-user btn-block"
                                        name="provider" value="@provider.Name"
                                        title="Log in using your @provider.DisplayName account">
                                    <i class="@classiconprovider"></i>
                                    Đăng nhập bằng @provider.DisplayName
                                </button>                }
                        </form>}*@
            </form>
            <hr>
            <div class="text-center">
                <a class="small" id="forgot-password" asp-page="./ForgotPassword">Bạn quên mật khẩu?</a>
            </div>
            <div class="text-center">
                <a class="small" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Chưa có tài khoản, đăng ký mới</a>
            </div>
            <br>
            <div class="text-center text-lg">
                <a class="btn rounded-pill px-3 btn-sm btn-success" asp-controller="Home" asp-action="Index">Về trang chủ</a>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        
    </script>
}
