@page "/register/"
@model RegisterModel
@{
    ViewData["Title"] = "Đăng ký";
    Layout = "~/Areas/Identity/Pages/_LoginLayout.cshtml";
}

@*<h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@


<!--Cách 2-->
@*<div class="col-md-10 offset-1">
    <div class="login-form-icon text-center m-5">
        <i class="fas fa-user-plus fa-6x text-secondary"></i>
    </div>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.FullName"></label>
            <input asp-for="Input.FullName" class="form-control" />
            <span asp-validation-for="Input.FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.CMND"></label>
            <input asp-for="Input.CMND" class="form-control" />
            <span asp-validation-for="Input.CMND" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">
                <i class="fas fa-sign-in-alt"></i> Register
            </button>
        </div>
    </form>
</div>*@


<!--Cách 3-->
<div class="row">
    <div class="col-lg-5 d-none d-lg-block">
        <img src="~/logo/cat-register.jpg" style="height:670px" />
    </div>
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Đăng ký</h1>
            </div>
            <form class="user" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.FullName" class="form-control form-control-user" placeholder="Họ và tên">
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.CMND" class="form-control form-control-user" placeholder="CMND">
                    <span asp-validation-for="Input.CMND" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control form-control-user" placeholder="Nhập email">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input asp-for="Input.Password" class="form-control form-control-user" placeholder="Nhập Password" />
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" placeholder="Nhập lại Password" />
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger text-sm"></span>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-user btn-block">Đăng ký</button>

                @*@if ((Model.ExternalLogins?.Count ?? 0) != 0)
            {
                <hr>
                <form id="external-account" asp-page="./ExternalLogin"
                      asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        string classiconprovider = "";
                        string classprovider = "";
                        if (provider.DisplayName == "Google")
                        {
                            classprovider = "btn-google";
                            classiconprovider = "fab fa-google fa-fw";
                        }
                        else if (provider.DisplayName == "Facebook")
                        {
                            classprovider = "btn-facebook";
                            classiconprovider = "fab fa-facebook-f fa-fw";
                        }


                        <button type="submit" class="btn @classprovider btn-user btn-block"
                                name="provider" value="@provider.Name"
                                title="Log in using your @provider.DisplayName account">
                            <i class="@classiconprovider"></i>
                            Đăng ký bằng @provider.DisplayName
                        </button>
                    }
                </form>
            }*@
            </form>
            <hr>
            <div class="text-center">
                <a class="small" id="forgot-password" asp-page="./ForgotPassword">Bạn quên mật khẩu?</a>
            </div>
            <div class="text-center">
                <a class="small" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Đã có tài khoản, hãy đăng nhập</a>
            </div>
            <br>
            <div class="text-center text-lg">
                <a class="small btn rounded-pill btn-success" asp-controller="Home" asp-action="Index">Về trang chủ</a>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
