@model IEnumerable<Sky.Models.CartDetail>
@using System.Globalization

@{
    //Layout = "~/Views/Shared/_Layout3.cshtml";
    Layout = null;
    CultureInfo culture = CultureInfo.CreateSpecificCulture("vi-VI");
}

<div class="dropdown-item text-center">
    @ViewData["CartCount"]
</div>

@foreach (var item in Model)
{
    <a class="dropdown-item d-flex align-items-center">
        <div class="dropdown-list-image mr-3">
            <img src="@("~/image/"+item.Product.ProductImage)" asp-append-version="true" class="rounded-circle" />
            <div class="status-indicator bg-success"></div>
        </div>
        <div>
            <div class="text-truncate">
                @item.Product.ProductName
            </div>
            <div class="small text-gray-500">
                @item.ProductQuantity
                <i class="fas fa-times mx-2"></i>@(item.Product.ProductPrice.ToString("#,##0", culture))
                <i class="fas fa-equals mx-2"></i>@((item.ProductQuantity * item.Product.ProductPrice).ToString("#,##0", culture))
            </div>
        </div>
    </a>
}

<div class="text-center">
    <b>@ViewData["More"]</b>
</div>

<div class="dropdown-item text-center">
    Tổng tiền: <strong>@((ViewBag.Total).ToString("#,##0", culture))</strong>
</div>

